<a href="/posts/new">Post</a>
<br>

<% @posts.each do |post| %>
  <!-- displays post title -->
  <strong><%= link_to(post.title, post_path(post)) %></strong>
  <%= post.created_at.to_date %>
  <!-- displays post content -->
<%= post.content %>
  <% if session[:user_id] == post.user_id%>
    <%= link_to("Edit", edit_post_path(post)) %>
    <%= link_to("Delete", post_path(post), method: :delete, data: {confirm: "Do you want to delete this post?"})%>
  <% end %>
  <a href="/comments/new"></a>
  <br>
<% end %>
