<!DOCTYPE html>
<html>
  <head>
    <title>The Blog About Nothing</title>
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="seinfeld">
      <div><h1>The Blog About Nothing</h1></div>
      <div><h3>For fans of the show, Seinfeld</h3></div>
    </div>

    <nav class="navbar">
      <a href="/" class="nav-links">HOME</a>
        <% if session[:user_id] %>
          <a href="/posts" class="nav-links">POSTS</a>
          <%= link_to("PROFILE", user_path(session[:user_id])) %>
          <%= link_to("EDIT PROFILE", edit_user_path(session[:user_id], :class => "nav-links")) %>
          <%= link_to("SIGN OUT", session_path(session[:user_id]), method: :delete, :class => "nav-links") %>
        <% else %>
          <a href="/users/new" class="nav-links">SIGN UP</a>
          <a href="/sessions/new" class="nav-links">SIGN IN</a>
        <% end %>
    </nav>

    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
